html{
	margin : 0;
	padding : 0;
}
body{
	font-family: 'Handlee', cursive;
	font-size: 13pt;
	background-color: #40e0d0; 
	padding: 10pt;
	margin:0;
}
h1{
	font-size: 20pt;
	color:red;
	text-align: center;
	padding: 10px 0 10px 0;
}
h1 span{
	border: 4px dashed red;
	padding: 20px;
}

p{
	padding: 0;
	margin: 0;
}

.pilih{
	background-color: #f36f48;
	font-weight: bold;
	color:white;

}